section.preloader(
  role="progressbar",
  aria-valuetext="Working…",
  aria-busy="true",
  aria-live="assertive",
  aria-valuemin="0",
  aria-valuemax="100"
)
  .preloader__container(aria-hidden="true")
    h2.preloader__data(data-animation-duration=3 data-opacity-final=0.2) Social media users emit about 2.5 km car trip of CO2 daily.
    .preloader__source.text-regular source: greenspector.com
