//- Button
mixin button(type, value)
  button.btn(class=type, type="button", name="button")= value

//- Socials
mixin socials(...socials)
  ul.header__social
    each social in socials
      li.header__social__item(class=social.name.toLowerCase())
        a.header__social__link(href=social.link)
          img.header__social__icon(src=social.name.toLowerCase() + ".svg", alt=social.name)
